*.txt
*.log
.idea
.cat
.DS_Store
*.log
how-to.txt
build
chromext
resources/images
test/helpers
test/init-test
test/jqm
test/sandbox
test/sencha-kitchen-sink
test/velocity
test/Gruntfile.js
test/package.json