
.demoBlock {
    height: 300px;
    margin-bottom: 100px;
    width: 100%;
    /*border: 3px solid black;*/
    overflow: hidden;
}
.editorBlock {
    height: 100%;
    text-shadow: none !important;
    width: 50%;
    float:left; /* add this */
    /*border: 3px solid red;*/
}
.exampleBlock {
    padding : 15px;
    float:left;
    height: 100%;
    width: 40%;
    /*border: 3px solid green;*/
    overflow: auto;
}

.tryDemo {
    float:left;
    width: 10%;
    height: 100%;
    /*border: 3px solid yellow;*/

}

.box-sizing { box-sizing: border-box; margin: 0; }

.hideme
{
    opacity:0;
}

/*
#container
{
    list-style-type: none;
    padding-left: 0px
}

#container li
{
    margin:50px;
    padding: 10px;
    min-height: 350px;
    border-radius: 10px;
    border : 1px solid #ddd;
    background-color: #fff;
}*/
