BODY {
 	background-color: #ffffff !important;
    text-align:center;
    font-weight: normal !important;
    font-size: 18px;
    font-family:"HP Simplified" !important;    
}

.x-title .x-innerhtml {
	overflow: visible !important;
}

.listItemClass {
	padding: 5px;
}

.contact {
    height: 100%;
}





